<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/style.css" type="text/css" />
		<title>MVC With Cats!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>
	</head>
	<body>
		<h1>Burgers!</h1>

<h2>Try our world famous burgers!</h2>

<ul>
      <li>
      	Meeses
      
      	<button class="change-sleep" data-id="1" data-newsleep="true">
      		SLEEP TIME!
      	</button>
      </li>
      <li>
      	Bobbi
      
      	<button class="change-sleep" data-id="2" data-newsleep="true">
      		SLEEP TIME!
      	</button>
      </li>
      <li>
      	Sylvester
      
      	<button class="change-sleep" data-id="3" data-newsleep="true">
      		SLEEP TIME!
      	</button>
      </li>
</ul>

<h2>Cats that are sleepy!</h2>

<ul>
      <li>
      	Marilyn Manson
      
      	<button class="change-sleep" data-id="4" data-newsleep="false">
      		WAKE UP!
      	</button>
      </li>
      <li>
      	Joe Biden
      
      	<button class="change-sleep" data-id="5" data-newsleep="false">
      		WAKE UP!
      	</button>
      </li>
      <li>
      	Owens
      
      	<button class="change-sleep" data-id="6" data-newsleep="false">
      		WAKE UP!
      	</button>
      </li>
</ul>

<h2>Add a Cat</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Cat Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="slee">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div>

  <button type="submit">Add Cat</button>
</form>

	</body>
</html>
