{{!--
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Burger</title>
</head>

<body>
	{{body}}
</body>

</html> --}}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/syle.css" type="text/css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">
	<title>BURGERMANIA</title>
	 <style>
       

    body {
      background-image: url("https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.complex.com%2Fcomplex%2Fimage%2Fupload%2Fc_fill%2Cg_center%2Cw_1200%2Ffl_lossy%2Cpg_1%2Cq_auto%2Fkrusty-krab-viacom_eb1tmr.jpg&f=1");
       background-repeat:no-repeat;
     background-size:cover;
	}
    }
  </style>
</head>

<body>
	{{{ body }}}
</body>

</html>